build/
build-linux/
build-ninja/
build-vs/
cmake-build-*/

*.exe
*.obj
*.bin
*.pdb
*.ilk
*.log

*.osm.pbf
*.geojson

*_report.pdf
*_report.tex
*_report_results.json
*_report_runtime.json
*_testing.pdf
*_testing.tex
*_testing_results.json
ollama_testing.pdf
ollama_testing.tex
osm_final_explanation.pdf
osm_final_explanation.tex
explanation of everything/
